@charset "ISO-8859-1";
p.ct6MainHeader {
    font-family: ABook,Arial,Helvetica,sans-serif;      *
    font-size: 72px;
    font-size: 40px;
    color: #fff;
    -webkit-font-smothing: antialiased;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    line-height: 67px;
    letter-spacing: -2px;
    margin-bottom: 10px;
}

p.ct6Copy {
    font-family: ABook,Arial,Helvetica,sans-serif;
    font-size: 14px;
    color: #fff;
    -webkit-font-smothing: antialiased;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    line-height: 17px;
}

div#titleWrapper {
    position: absolute;
    top: 10px;
    left: 241px;
    width: 588px;
}

#levelAWrapper {
    width: 622px;
    position: relative;
    float: left;
}
#levelAWrapper #levelA {
    padding-left: 30px;
    padding-bottom: 20px;
    padding-top: 13px;
}

.subheadWrapperWide {
    margin: 0 30px 20px 0;
    /* padding: 25px 0 20px 20px; */
    overflow: auto;
    overflow-x: auto;
    overflow-y: auto;
    background: linear-gradient(to bottom,#fff 0,#fff 90%,#ededed 100%);
}

#levelAWrapper #levelA #subheadLeftCol {
    width: 185px;
    float: left;
}

#levelAWrapper #levelA .contactHeader {
    font-family: ABlack,Arial,Helvetica,sans-serif;
    font-size: 17px;
    color: #404042;
    -webkit-font-smothing: antialiased;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    padding-top: 4px;
}

#levelAWrapper #levelA #subheadRightCol {
    width: 255px;
    float: left;
    padding-left: 20px;
}

#levelAWrapper #levelA .contactInfo {
    font-family: ABook,Arial,Helvetica,sans-serif;
    font-size: 17px;
    color: #404242;
    -webkit-font-smothing: antialiased;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    line-height: 27px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a:link {
    color: #3b6e8e;
    text-decoration: none;
}

a:visited {
    color: #3b6e8e;
}

#levelAWrapper #levelA .contactInfoHeader {
    font-family: ABlack,Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #404042;
    -webkit-font-smothing: antialiased;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    margin-bottom: 10px;
    line-height: 15px;
    padding-left: 20px;
}

#levelAWrapper #levelA .ddWrapper {
    margin-bottom: 20px;
}

#levelAWrapper #levelA #compensationWrapper .ddContainer, #levelAWrapper #levelA #contactWrapper .ddContainer {
    width: 560px;
}

#levelAWrapper #levelA .ddContainer {
    overflow: hidden;
    width: 560px;
    display: inline-block;
}

select#contactDD {
    width: 560px;
    font-family: ABlack,Arial,Helvetica,sans-serif;
    font-size: 17px;
    color: #404242;
    -webkit-font-smothing: antialiased;
    text-shadow: 0 1px 0 rgba(0,0,0,0.01);
    height: 44px;
    text-transform: uppercase;
}

.rte_spotlight {
    width: 224px;
    float: left;
    position: relative;
    background-color: #fff;
    word-wrap: break-word !important;
}

.rte_spotlight p {
    margin-bottom: 5px;
    font-size: 10px;
    color: #989898;
    line-height: 15px;
    font-family: AHeavy,Arial,Helvetica,sans-serif;
}

.rte_spotlight h1 {
    font-size: 14px;
    color: #ed282c;
    line-height: 15px;
    margin-bottom: 7px;
    font-family: ABlack,Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}